@use '../util' as *;

.container {
  margin: 0 auto;
  width: 100%;

  @include breakpoint(medium) {
    display: flex;
    background: var(--clr-white);
    border-radius: rem(32);
    height: rem(512);
    width: rem(736);
    margin-bottom: rem(24);

    .results,
    .summary {
      width: 50%;
    }
  }
}
