@use '../util' as *;

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gradient-main);
  padding: rem(24) 0 rem(40);
  color: var(--clr-white);

  &__header {
    h1 {
      color: var(--clr-light-lavender);
    }
  }

  &__score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--gradient-circle);
    height: rem(140);
    width: rem(140);
    border-radius: 100%;
  }
}
